@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* Basic resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Basic resets */
body {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw; }

header {
  background: #164e6c;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem 0;
  text-align: center;
  width: 100%; }

nav {
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  margin: 15px; }
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%; }
    nav ul li {
      border-bottom: 3px solid transparent;
      color: #9ba7bd;
      transition: 0.3s ease all;
      cursor: pointer; }
      nav ul li:hover {
        border-color: #164e6c; }

.active {
  border-bottom: 3px solid #164e6c;
  color: #78787c;
  font-weight: bold; }

.filter-status {
  background: #164e6c;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.3rem;
  text-align: center;
  width: 100%; }

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 50px;
  width: 90%; }
  main #add {
    border: none;
    border-radius: 50%;
    bottom: 3rem;
    background: #2c85c5;
    cursor: pointer;
    height: 50px;
    outline: none;
    position: absolute;
    right: 4rem;
    width: 50px; }
    main #add:hover {
      background: #164e6c; }
    main #add i {
      color: white; }

table {
  border-collapse: collapse; }

thead th,
thead td,
tbody th,
tbody td {
  font-size: 1rem;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 0.5rem;
  text-align: left; }
  thead th:nth-child(1),
  thead td:nth-child(1),
  tbody th:nth-child(1),
  tbody td:nth-child(1) {
    border-left: 1px solid #ebebeb; }
  thead th:nth-child(4),
  thead td:nth-child(4),
  tbody th:nth-child(4),
  tbody td:nth-child(4) {
    text-align: center; }
  thead th:nth-child(5),
  thead td:nth-child(5),
  tbody th:nth-child(5),
  tbody td:nth-child(5) {
    border-right: 1px solid #ebebeb; }

thead th {
  color: #323232;
  cursor: pointer;
  transition: 0.3s ease all; }
  thead th:hover {
    color: #164e6c; }

tbody td {
  color: #164e6c; }

.cross {
  cursor: pointer; }
  .cross:hover {
    color: red; }

.modal-container {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }

.modal {
  background-color: #f2f0f1;
  border: 1px solid #252125;
  width: 400px;
  /* Could be more or less, depending on screen size */
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  z-index: 2; }
  .modal span {
    font-size: 2.5rem; }
  .modal form input,
  .modal form select {
    width: 100%; }

/* Footer */
footer {
  background: #164e6c;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  padding: 0.8rem; }
  footer p {
    padding: 0 50px;
    font-size: 13px; }
  footer a {
    color: inherit;
    text-decoration: none; }
  footer a:hover {
    text-decoration: underline; }

/* Footer */

/*# sourceMappingURL=style.css.map */
