/* Basic resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Basic resets */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

header {
  padding: 15px 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 90%;
  #add {
    border: none;
    border-radius: 50%;
    bottom: 3rem;
    background: #2c85c5;
    cursor: pointer;
    height: 50px;
    outline: none;
    position: absolute;
    right: 4rem;
    width: 50px;
    &:hover {
      background: #1e5b86;
    }
    i {
      color: white;
    }
  }
}

table {
  border-collapse: collapse;
}

thead,
tbody {
  th,
  td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.5rem;
    text-align: left;
    &:nth-child(1) {
      border-left: 1px solid black;
    }
    &:nth-child(4) {
      border-right: 1px solid black;
    }
  }
}

.modal-container {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  background-color: #f2f0f1;
  border: 1px solid #252125;
  width: 30%; /* Could be more or less, depending on screen size */
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  z-index: 2;
  form {
    input,
    select {
      width: 100%;
    }
  }
}

/* Footer */
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  height: 30px;
  p {
    padding: 0 50px;
    font-size: 13px;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
/* Footer */
